.footer-main{
    width: 100vw;
    height: 10vh;
    background: rgb(17, 17, 17);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Fb,.Yt,.Li,.Tw,.Ig{
    color: white;
    /* font-size: 100px;
    padding: 0px 50px 0px 50px; */
    cursor: pointer;
}
