*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    scroll-behavior: smooth;
  }
  .error-main{
    height: 92vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .error-img{
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button{
    width: 230px;
    margin-top: 20px;
    background-color: rgb(70, 70, 70);
    color: rgb(255, 255, 255);
    font-size: 20px;
  }